-
  const footerMenu = [
    {
      title: 'Services',
      isSocial: 'false',
      list: [
        {
          title: 'Forum backlinks',
          label: '',
          href: '#',
          isTargetBlank: 'true',
        },
        {
          title: 'Q&A backlinks',
          label: '',
          href: '#',
          isTargetBlank: 'true',
        },
        {
          title: 'Guest post backlinks',
          label: '',
          href: '#',
          isTargetBlank: 'true',
        },
        {
          title: 'Another services',
          label: '',
          href: '#',
          isTargetBlank: 'true',
        },
      ],
    },
    {
      title: 'About us ',
      isSocial: 'false',
      list: [
        {
          title: 'Who are we?',
          label: '',
          href: '#',
          isTargetBlank: 'true',
        },
        {
          title: 'Reviews',
          label: '',
          href: '#',
          isTargetBlank: 'true',
        },
        {
          title: 'FAQ',
          label: '',
          href: '#',
          isTargetBlank: 'true',
        },
        {
          title: 'Seo Vocabulary',
          label: '',
          href: '#',
          isTargetBlank: 'true',
        },
      ],
    },
    {
      title: 'Contacts ',
      isSocial: 'true',
      list: [
        {
          title: 'Messenger',
          label: `
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.001 2C17.634 2 22.001 6.127 22.001 11.7C22.001 17.273 17.634 21.4 12.001 21.4C11.0231 21.4025 10.0494 21.2734 9.10598 21.016C8.92878 20.9673 8.74021 20.9811 8.57198 21.055L6.58698 21.931C6.46711 21.984 6.33606 22.0067 6.20535 21.9972C6.07464 21.9876 5.94828 21.9461 5.83738 21.8763C5.72647 21.8065 5.63442 21.7105 5.56931 21.5967C5.5042 21.483 5.46803 21.355 5.46398 21.224L5.40998 19.444C5.40625 19.3357 5.38047 19.2293 5.33422 19.1313C5.28796 19.0333 5.22221 18.9457 5.14098 18.874C3.19598 17.134 2.00098 14.616 2.00098 11.7C2.00098 6.127 6.36698 2 12.001 2ZM5.99598 14.537C5.71398 14.984 6.26398 15.488 6.68498 15.168L9.83998 12.774C9.9441 12.6954 10.071 12.6529 10.2015 12.6529C10.3319 12.6529 10.4589 12.6954 10.563 12.774L12.899 14.524C13.0648 14.6485 13.2546 14.7373 13.4564 14.7848C13.6583 14.8322 13.8678 14.8373 14.0717 14.7997C14.2756 14.7621 14.4695 14.6827 14.6411 14.5664C14.8128 14.4501 14.9585 14.2994 15.069 14.124L18.006 9.464C18.288 9.016 17.738 8.512 17.317 8.831L14.162 11.227C14.0578 11.3056 13.9309 11.3481 13.8005 11.3481C13.67 11.3481 13.5431 11.3056 13.439 11.227L11.102 9.477C10.9362 9.35265 10.7465 9.264 10.5447 9.21664C10.343 9.16927 10.1336 9.16422 9.92984 9.2018C9.72605 9.23938 9.53226 9.31878 9.36069 9.43499C9.18912 9.5512 9.04349 9.7017 8.93298 9.877L5.99598 14.537Z" fill="currentColor"/>
            </svg>
          `,
          href: '#',
          isTargetBlank: 'true',
        },
        {
          title: 'Telegram',
          label: `
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM16.64 8.8C16.49 10.38 15.84 14.22 15.51 15.99C15.37 16.74 15.09 16.99 14.83 17.02C14.25 17.07 13.81 16.64 13.25 16.27C12.37 15.69 11.87 15.33 11.02 14.77C10.03 14.12 10.67 13.76 11.24 13.18C11.39 13.03 13.95 10.7 14 10.49C14.0069 10.4582 14.006 10.4252 13.9973 10.3938C13.9886 10.3624 13.9724 10.3337 13.95 10.31C13.89 10.26 13.81 10.28 13.74 10.29C13.65 10.31 12.25 11.24 9.52 13.08C9.12 13.35 8.76 13.49 8.44 13.48C8.08 13.47 7.4 13.28 6.89 13.11C6.26 12.91 5.77 12.8 5.81 12.45C5.83 12.27 6.08 12.09 6.55 11.9C9.47 10.63 11.41 9.79 12.38 9.39C15.16 8.23 15.73 8.03 16.11 8.03C16.19 8.03 16.38 8.05 16.5 8.15C16.6 8.23 16.63 8.34 16.64 8.42C16.63 8.48 16.65 8.66 16.64 8.8Z" fill="currentColor"/>
            </svg>
          `,
          href: '#',
          isTargetBlank: 'true',
        },
        {
          title: 'LinkedIn',
          label: `
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M19.7778 2C20.3671 2 20.9324 2.23413 21.3491 2.65087C21.7659 3.06762 22 3.63285 22 4.22222V19.7778C22 20.3671 21.7659 20.9324 21.3491 21.3491C20.9324 21.7659 20.3671 22 19.7778 22H4.22222C3.63285 22 3.06762 21.7659 2.65087 21.3491C2.23413 20.9324 2 20.3671 2 19.7778V4.22222C2 3.63285 2.23413 3.06762 2.65087 2.65087C3.06762 2.23413 3.63285 2 4.22222 2H19.7778ZM19.2222 19.2222V13.3333C19.2222 12.3727 18.8406 11.4513 18.1613 10.772C17.482 10.0927 16.5607 9.71111 15.6 9.71111C14.6556 9.71111 13.5556 10.2889 13.0222 11.1556V9.92222H9.92222V19.2222H13.0222V13.7444C13.0222 12.8889 13.7111 12.1889 14.5667 12.1889C14.9792 12.1889 15.3749 12.3528 15.6666 12.6445C15.9583 12.9362 16.1222 13.3319 16.1222 13.7444V19.2222H19.2222ZM6.31111 8.17778C6.80618 8.17778 7.28098 7.98111 7.63104 7.63104C7.98111 7.28098 8.17778 6.80618 8.17778 6.31111C8.17778 5.27778 7.34444 4.43333 6.31111 4.43333C5.81309 4.43333 5.33547 4.63117 4.98332 4.98332C4.63117 5.33547 4.43333 5.81309 4.43333 6.31111C4.43333 7.34444 5.27778 8.17778 6.31111 8.17778ZM7.85556 19.2222V9.92222H4.77778V19.2222H7.85556Z" fill="currentColor"/>
            </svg>
          `,
          href: '#',
          isTargetBlank: 'true',
        },
        {
          title: 'Facebook',
          label: `
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M22 12.0251C22 6.49123 17.52 2 12 2C6.48 2 2 6.49123 2 12.0251C2 16.8772 5.44 20.9173 10 21.8496V15.0326H8V12.0251H10V9.5188C10 7.58396 11.57 6.01003 13.5 6.01003H16V9.01754H14C13.45 9.01754 13 9.46867 13 10.0201V12.0251H16V15.0326H13V22C18.05 21.4987 22 17.2281 22 12.0251Z" fill="currentColor"/>
            </svg>
          `,
          href: '#',
          isTargetBlank: 'true',
        },
        {
          title: 'Twitter',
          label: `
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22ZM17.4713 8.05706C18.0057 7.97294 18.5215 7.79706 19 7.52941C18.6396 8.19471 18.1922 8.77588 17.6702 9.23471C17.6764 9.38 17.6764 9.51765 17.6764 9.66294C17.6764 13.9988 14.9857 19 10.0889 19C8.58509 19 7.18069 18.4571 6 17.5241C6.21128 17.5547 6.42256 17.57 6.63384 17.57C7.83566 17.5771 9.00369 17.0809 9.94598 16.1629C9.3901 16.1505 8.85136 15.9239 8.40551 15.5152C7.95965 15.1064 7.62911 14.536 7.46033 13.8841C7.85809 13.9806 8.26862 13.9623 8.65966 13.8306C7.44168 13.5324 6.52199 12.2018 6.52199 10.6112V10.5882C6.88241 10.8176 7.29254 10.9706 7.73375 10.9706C7.01291 10.3971 6.54685 9.38765 6.54685 8.24824C6.54685 7.65176 6.67734 7.08588 6.90727 6.60412C8.21845 8.58471 10.1883 9.89235 12.4006 10.03C12.3571 9.79294 12.3322 9.54059 12.3322 9.28059C12.3322 7.46824 13.5253 6 14.9857 6C15.7686 6 16.4584 6.38235 16.9493 7.04C17.5521 6.88706 18.1238 6.61941 18.6396 6.23706C18.4407 7.00941 18.0182 7.65176 17.4713 8.05706Z" fill="currentColor"/>
            </svg>
          `,
          href: '#',
          isTargetBlank: 'true',
        },
      ],
    },
    {
      title: 'Help ',
      isSocial: 'false',
      list: [
        {
          title: 'Terms and Conditions',
          label: '',
          href: '#',
          isTargetBlank: 'true',
        },
        {
          title: 'Privacy Policy',
          label: '',
          href: '#',
          isTargetBlank: 'true',
        },
        {
          title: 'Cookies Policy',
          label: '',
          href: '#',
          isTargetBlank: 'true',
        },
      ],
    },
  ];

  const reviewFooterList = [
    {
      label: '@/assets/img/review/footerList/review-1.svg',
      alt: 'fiverr',
      raiting: 5,
      reviewCount: '820',
    },
    {
      label: '@/assets/img/review/footerList/review-2.svg',
      alt: 'trustpilot',
      raiting: 4,
      reviewCount: '10',
    },
    {
      label: '@/assets/img/review/footerList/review-3.svg',
      alt: 'BlackHatWorld',
      raiting: 5,
      reviewCount: '10',
    },
    {
      label: '@/assets/img/review/footerList/review-4.svg',
      alt: 'Clutch.co',
      raiting: 5,
      reviewCount: '15',
    },
  ];

footer.footer
  ._container
    .footer__wrapper
      .footer__main
        .footer__content
          a.custom-logo-link.footer__logo(href='#') 
            img.custom-logo(
              src=require('@/assets/img/logo-footer.svg'),
              alt='logo',
              draggable='false'
            )

          ul.footer-review.desktop
            each item in reviewFooterList
              li.footer-review__item
                .footer-review__info
                  .footer-review__subtitle Reviewed on

                  .footer-review__label
                    img(src=require(`${item.label}`), alt=`${item.alt}`)

                .footer-review-raiting
                  .footer-review-raiting-stars
                    - for(let i=0; i<5; i++)
                      .footer-review-raiting-stars__item(
                        class=`${i + 1 <= item.raiting ? 'filled' : 'empty'}`
                      ) 
                        if i + 1 <= item.raiting
                          img(
                            src=require('@/assets/img/review/star.svg'),
                            alt='star'
                          )
                        else
                          img(
                            src=require('@/assets/img/review/star-empty.svg'),
                            alt='star'
                          )

                  p.footer-review-raiting__description
                    strong= item.reviewCount
                    span reviews

        nav.footer-menu
          ul.footer-menu__list
            each item in footerMenu
              li.footer-menu__item
                p.footer-menu__title= item.title

                ul.footer-menu__sublist(
                  class=`${item.isSocial === 'true' ? 'socials' : ''}`
                )
                  each link in item.list
                    li
                      if item.isSocial && item.isSocial === 'true'
                        a.footer-menu-link(
                          href=`${link.href}`,
                          target=`${item.isTargetBlank === 'true' ? '_blank' : '_self'}`
                        ) 
                          span.footer-menu-link__label!= link.label

                          span.footer-menu-link__text= link.title

                      else
                        a.footer-menu-link(
                          href=`${link.href}`,
                          target=`${item.isTargetBlank === 'true' ? '_blank' : '_self'}`
                        ) 
                          span.footer-menu-link__text= link.title

      .footer__bottom
        ul.footer-review.phone
          each item in reviewFooterList
            li.footer-review__item
              .footer-review__info
                .footer-review__subtitle Reviewed on

                .footer-review__label
                  img(src=require(`${item.label}`), alt=`${item.alt}`)

              .footer-review-raiting
                .footer-review-raiting-stars
                  - for(let i=0; i<5; i++)
                    .footer-review-raiting-stars__item(
                      class=`${i + 1 <= item.raiting ? 'filled' : 'empty'}`
                    ) 
                      if i + 1 <= item.raiting
                        img(
                          src=require('@/assets/img/review/star.svg'),
                          alt='star'
                        )
                      else
                        img(
                          src=require('@/assets/img/review/star-empty.svg'),
                          alt='star'
                        )

                p.footer-review-raiting__description
                  strong= item.reviewCount
                  span reviews

        .footer-review__item.special
          .footer-review__image
            img(
              src=require('@/assets/img/review/footerList/special.svg'),
              alt='DMCA'
            )

          .footer-review__info
            .footer-review__label
              img(
                src=require('@/assets/img/review/footerList/review-5.svg'),
                alt='DMCA'
              )

      .footer-copyright
        p.footer-copyright__inner Copyright © 2023 - Linksclerk | All Rights Reserved
