nav.menu
  ul.menu-list.accordion(data-is-label-click='true')
    each item in menuList
      li.menu-list__item(
        class=`${item.submenu && item.submenu.length !== 0 ? 'accordion__item' : ''}`
      )
        .menu-list__item__header.accordion__summary
          if item.isLanguage && item.isLanguage === 'true'
            p.menu__link #{ item.name }
          else
            a.menu__link(href=`${item.href}`) #{ item.name }

          if item.submenu && item.submenu.length !== 0
            button.accordion__label
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.10533 11.7034C8.27276 11.7034 8.44013 11.6365 8.55402 11.5092L13.737 6.19894C13.8509 6.0851 13.9178 5.93778 13.9178 5.77037C13.9178 5.42215 13.6566 5.1543 13.3085 5.1543C13.141 5.1543 12.987 5.22126 12.8732 5.32841L7.74372 10.5717H8.46025L3.33077 5.32841C3.22363 5.22126 3.06961 5.1543 2.89551 5.1543C2.54729 5.1543 2.28613 5.42215 2.28613 5.77037C2.28613 5.93778 2.3531 6.0851 2.46694 6.20564L7.64997 11.5092C7.77721 11.6365 7.93122 11.7034 8.10533 11.7034Z" fill="currentColor" fill-opacity="0.85"/>
              </svg>

        if item.submenu && item.submenu.length !== 0
          .accordion__details
            ul.menu-submenu-list.accordion__description(
              class=`${item.isLanguage && item.isLanguage === 'true' ? 'language' : ''}`
            )
              each subItem in item.submenu
                li
                  if subItem.isCurentLanguage && subItem.isCurentLanguage === 'true'
                    p.menu-submenu__link.lang-item-current
                      span.menu-submenu__label
                        img(
                          src=require(`${subItem.label}`),
                          alt=`${subItem.name}`
                        )

                      span.menu-submenu__content
                        span.menu-submenu__title= subItem.name

                        span.menu-submenu__description= subItem.description

                  else
                    a.menu-submenu__link(
                      href=`${subItem.href}`,
                      class=`${item.isLanguage && item.isLanguage === 'true' ? 'language' : ''}`
                    ) 
                      span.menu-submenu__label
                        img(
                          src=require(`${subItem.label}`),
                          alt=`${subItem.name}`
                        )

                      span.menu-submenu__content
                        span.menu-submenu__title= subItem.name

                        span.menu-submenu__description= subItem.description
