article.article-banner
  .article-banner-media
    img.desktop(
      src=require('@/assets/img/blog/article-banner.jpg'),
      alt='Quora vs Reddit: What’s better for SEO and marketing in 2022',
      loading='lazy'
    )

    img.mobile(
      src=require('@/assets/img/blog/article-banner-mobile.jpg'),
      alt='Quora vs Reddit: What’s better for SEO and marketing in 2022',
      loading='lazy'
    )

  .article-banner__wrapper
    p.article-banner__author Alex Ahom

    a.article-banner__title(href='#') Quora vs Reddit: What’s better for SEO and marketing in 2022

    p.article-banner__description
      span.article-banner__text When it comes to SEO and marketing in 2022, two website powerhouses that can’t be ignored are Quora and Reddit. Here’s a look at what each has to offer and why they should be part of your plans for promoting your brand online

      a.article-banner__link(href='#') Read More
