-
  const guideList = [
    {
      title: 'Introduction',
      subtitle: 'Introduction to backlings world',
    },
    {
      title: 'The basics',
      subtitle: 'Explaning basic terms and concepts of backlinks',
    },
    {
      title: 'Importance',
      subtitle: 'Explaning why backlinks are significant',
    },
  ];

section.section.guide
  ._container
    .guide__wrapper
      .guide-header
        .guide-header__top
          .guide-header__label
            img(src=require('@/assets/img/arrow-quote.svg'), alt='quote')

          a.guide-header__button.button-hollow(href='')
            span Learn more

        p.guide-header__title Check out our beginer`s guide

        p.guide-header__description We encourage you to read our beginner's guide to increase your awareness of backlinks

      ul.guide-list
        each item, index in guideList
          li.guide-list__item
            .guide-list__count!= `${index + 1 < 10 ? '0' : ''}${index + 1}`

            p.guide-list__title= item.title

            p.guide-list__subtitle= item.subtitle
