-
  const qualityList = [
    {
      media: '@/assets/img/quality/quality-1.svg',
      title: 'DR, Traffic, Ref. Domains, location ',
    },
    {
      media: '@/assets/img/quality/quality-2.svg',
      title: 'TF, CF, Trust ratio',
    },
    {
      media: '@/assets/img/quality/quality-3.svg',
      title: 'DA, Spam score',
    },
    {
      media: '@/assets/img/quality/quality-4.svg',
      title: 'Domain rank score',
    },
    {
      media: '@/assets/img/quality/quality-5.svg',
      title: 'Traffic and location',
    },
  ];

  const dropNumericList = [
    {
      title: 'Relevance',
      description: `
        <p>
          We assess discussions for their relevance to your content and industry. Backlinks from forums within your niche tend to carry greater value
        </p>
      `,
    },
    {
      title: 'Metrics',
      description: `
        <p>
          Evaluate the Domain Authority (DA) and Page Authority (PA) of the forum. Higher values typically indicate a more authoritative and trustworthy source. Utilize tools such as Moz, Ahrefs, or SEMrush for metric assessment
        </p>
      `,
    },
    {
      title: 'Indexation',
      description: `
        <p>
          We verify forums with indexed pages and no restrictions in the robots.txt file or meta-robots directory
        </p>
      `,
    },
    {
      title: 'Backlink Types',
      description: `
        <p>
          Distinguish between "nofollow" and "dofollow" links to understand their impact on your SEO strategy
        </p>
      `,
    },
    {
      title: 'Spam Signals',
      description: `
        <p>
          Exercise caution with forums experiencing a high volume of spam. Forums allowing low-quality or irrelevant content may diminish the value of your backlink
        </p>
      `,
    },
    {
      title: 'Penalties',
      description: `
        <p>
          Exercise caution with forums experiencing a high volume of spam. Forums allowing low-quality or irrelevant content may diminish the value of your backlink. Competitors' Backlink Profiles: <br/> Explore reviews or feedback from competitors who have utilized the forum for backlinking. <br/>Link Placement
        </p>
      `,
    },
    {
      title: 'Link Placement',
      description: `
        <p>
          Examine the positioning of your backlink. Links within the body of relevant and valuable content typically hold more significance than those in signatures or low-quality sections.
        </p>
      `,
    },
    {
      title: 'Long-Term Viability',
      description: `
        <p>
          Assess the forum's longevity and stability. Forums with a history and a consistent user base are generally more reliable over the long term
        </p>
      `,
    },
  ];

section.section.quality
  ._container
    .quality__wrapper
      .quality__header.section-header
        h2.section-header__title How we track the quality

      .quality-list.grab-desktop
        ul.quality-list__inner.grab-desktop__inner
          each item in qualityList
            li
              .quality-list__item
                .quality-list__media
                  img(src=require(`${item.media}`), alt=`${item.title}`)

                p.quality-list__title= item.title

      include @/templates/layout/drop-numeric.pug

      //- ul.get-started-list.accordion(
      //-   data-is-label-click='false',
      //-   data-is-open-on-hover='true'
      //- )
      //-   each item, index in getStartedList
      //-     li.accordion__item.get-started-list__item
      //-       button.accordion__summary.get-started-list-header
      //-         span.get-started-list-header__top
      //-           span.get-started-list__counter!= `${index + 1 < 10 ? '0' : ''}${index + 1}`

      //-           span.get-started-list__label.accordion__label
      //-             <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      //-               <path d="M8.10533 11.7034C8.27276 11.7034 8.44013 11.6365 8.55402 11.5092L13.737 6.19894C13.8509 6.0851 13.9178 5.93778 13.9178 5.77037C13.9178 5.42215 13.6566 5.1543 13.3085 5.1543C13.141 5.1543 12.987 5.22126 12.8732 5.32841L7.74372 10.5717H8.46025L3.33077 5.32841C3.22363 5.22126 3.06961 5.1543 2.89551 5.1543C2.54729 5.1543 2.28613 5.42215 2.28613 5.77037C2.28613 5.93778 2.3531 6.0851 2.46694 6.20564L7.64997 11.5092C7.77721 11.6365 7.93122 11.7034 8.10533 11.7034Z" fill="currentColor" fill-opacity="0.85"/>
      //-             </svg>

      //-         span.get-started-list__title= item.title

      //-       .accordion__details
      //-         .accordion__description.get-started-list__description
      //-           .get-started-list__typography.typography!= item.description
