-
  //- const roadmapList = [
  //-   {
  //-     title: 'Link to forum thread',
  //-     description: `
  //-       <p>
  //-         https://www.wallstreetoasis.com/
  //-       </p>
  //-     `,
  //-   },
  //-   {
  //-     title: 'Post text',
  //-     description: `
  //-       <p>
  //-         Hello! You know real estate agents make way too much! Note how much disposable income real estate agents have. See where they live, what they drive, and how they relax. And don’t let a cheap old car fool you. The oldest trick in the book. They try to make themselves look like poor people. I want to buy real estate and I’m wondering how much realtors make in california because I don’t want to overpay?
  //-       </p>
  //-     `,
  //-   },
  //-   {
  //-     title: 'Date',
  //-     description: `
  //-       <p>
  //-         29.08
  //-       </p>
  //-     `,
  //-   },
  //-   {
  //-     title: 'Account name',
  //-     description: `
  //-       <p>
  //-         Jack Sky
  //-       </p>
  //-     `,
  //-   },
  //-   {
  //-     title: 'URL',
  //-     description: `
  //-       <p>
  //-         https://www.fastexpert.com/blog/real-estate-commission-rate-in-california/
  //-       </p>
  //-     `,
  //-   },
  //-   {
  //-     title: 'Anchor',
  //-     description: `
  //-       <p>
  //-         How much do realtors make in California
  //-       </p>
  //-     `,
  //-   },
  //-   {
  //-     title: 'Domain Rating',
  //-     description: `
  //-       <p>
  //-         63
  //-       </p>
  //-     `,
  //-   },
  //-   {
  //-     title: 'Traffic',
  //-     description: `
  //-       <p>
  //-         150921
  //-       </p>
  //-     `,
  //-   },
  //- ];

section.roadmap.section
  ._container
    .roadmap__wrapper
      .roadmap-header.section-header
        h2.section-header__title= roadmap.title

        if roadmap.description && roadmap.description !== ''
          .roadmap-header__bottom
            .roadmap-header__label
              img(src=require('@/assets/img/arrow-quote.svg'), alt='arrow')

            p.roadmap-header__description= roadmap.description

      ul.roadmap-list
        each item, index in roadmap.list
          li.roadmap-list__item
            .roadmap-list__header
              .roadmap-list__counter!= `${index + 1 < 10 ? '0' : ''}${index + 1}`

              p.roadmap-list__title= item.title

            .roadmap-list__content(
              class=`${item.descriptionList.length === 1 ? 'single' : ''}`
            )
              each description in item.descriptionList
                .typography.roadmap-list__description!= description
